/*---------------------------------------------------------------body--------------------------------------------------------------------*/
body{
    padding: 0;
    margin: 0;
   
}

.container{
    width: 1000px;
    height: 550px;
    margin-top: 45px;
    margin: auto;

    
}

.newNote{
    width: 400px;
    height: 45px;
    position: relative; top: 35px;
    border: 1px solid;
}



.todolist{
    width: 1000px;
    height: 500px;
    display: flex;
    align-items: center;
    margin: auto;
    position: relative; top: 50px;  

}


.todolist1, .todolist2{
    width: 500px;
    height: 450px;
    background-color: rgba(238, 196, 133, 0.4);
    position: relative; top: 25px; 
    border: 1px solid;

}

.todo{

}

.addTodo{

}
li{
    text-decoration: none; 
}

